# Jupyter 常用工具备忘

## 1.文件操作类

### 1.1 列出指定文件夹中的所有文件路径及文件名

In [1]:
# 列出指定 文件夹中的所有文件路径及文件名
# '/Users/didiw/Documents/study/kaggle/project/EDAstudy/input'
def show_files(dirl):
    import os
    for dirname, _, filenames in os.walk(dirl):
        for filename in filenames:
            print(os.path.join(dirname, filename))

In [2]:
show_files('/Users/didiw/Documents/study/kaggle/project/EDAstudy/input')

/Users/didiw/Documents/study/kaggle/project/EDAstudy/input/station_day.csv
/Users/didiw/Documents/study/kaggle/project/EDAstudy/input/city_hour.csv
/Users/didiw/Documents/study/kaggle/project/EDAstudy/input/Indian Cities Database.csv
/Users/didiw/Documents/study/kaggle/project/EDAstudy/input/city_day.csv
/Users/didiw/Documents/study/kaggle/project/EDAstudy/input/stations.csv
/Users/didiw/Documents/study/kaggle/project/EDAstudy/input/station_hour.csv

## 2.配置类

### 2.1 显示被压缩的数据

In [13]:
import pandas as pd
import numpy as np
# set up display area to show dataframe in jupyter qtconsole

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [14]:
df = pd.DataFrame(np.random.random(200).reshape(2, 100))
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99
0,0.914797,0.650964,0.913160,0.007747,0.409363,0.836670,0.733897,0.587421,0.050763,0.834158,0.743887,0.517106,0.211433,0.304195,0.434939,0.015346,0.723711,0.188102,0.115646,0.886013,0.083108,0.174355,0.593411,0.913325,0.771220,0.504238,0.085043,0.125235,0.088477,0.846003,0.153666,0.641688,0.377587,0.134870,0.425740,0.221875,0.498816,0.877023,0.311524,0.166859,0.162496,0.915771,0.784248,0.059804,0.084628,0.357845,0.259934,0.898062,0.904680,0.299736,0.433537,0.662841,0.362114,0.280097,0.753449,0.631975,0.580683,0.138980,0.530289,0.982119,0.358578,0.402919,0.223150,0.769988,0.529185,0.222108,0.957149,0.397017,0.740506,0.477656,0.169274,0.240379,0.289200,0.795117,0.521293,0.977600,0.578118,0.476533,0.701787,0.313638,0.150702,0.753973,0.635945,0.930820,0.581877,0.448655,0.137528,0.742387,0.668472,0.288853,0.800741,0.84549,0.077661,0.175804,0.469628,0.824257,0.960818,0.264635,0.563668,0.978858
1,0.143215,0.930491,0.851519,0.548017,0.306799,0.438065,0.449796,0.299647,0.997095,0.604614,0.425545,0.024168,0.326225,0.195284,0.594036,0.620376,0.242346,0.084108,0.032308,0.641217,0.451103,0.421937,0.851537,0.647230,0.160484,0.794109,0.379888,0.768939,0.995871,0.312379,0.356240,0.348151,0.162869,0.605769,0.472022,0.485218,0.389115,0.467448,0.609508,0.655420,0.694195,0.270763,0.845586,0.749662,0.011504,0.446716,0.328404,0.255501,0.872608,0.191418,0.659122,0.180103,0.868225,0.441483,0.234996,0.364905,0.391828,0.299238,0.660380,0.708722,0.767683,0.085475,0.256731,0.519329,0.745452,0.721984,0.039287,0.214015,0.243670,0.056092,0.140642,0.239615,0.639649,0.220157,0.659357,0.171746,0.254607,0.679537,0.264487,0.403298,0.274261,0.754631,0.035698,0.361262,0.887733,0.756017,0.206350,0.349144,0.256658,0.224746,0.924522,0.62168,0.644340,0.849930,0.636685,0.438463,0.284504,0.498305,0.637149,0.876345

### 2.2 显示被压缩的文本

In [18]:
pd.options.display.max_rows
pd.set_option('display.max_colwidth', None)

In [15]:
string_x = "if the df has a lot of rows or columns, then when you try to show the df, pandas will auto detect \
the size of the displaying area and automatically hide some part of the data by replacing with"

df = pd.DataFrame({'string_x': string_x}, index = [0])

In [19]:
df

                                                                                                                                                                                           string_x
0  if the df has a lot of rows or columns, then when you try to show the df, pandas will auto detect the size of the displaying area and automatically hide some part of the data by replacing with

## 3.数据操作类

### 3.1 缺失值汇总

In [20]:
# Missing values
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [22]:
city_day = pd.read_csv('/Users/didiw/Documents/study/kaggle/project/EDAstudy/input/city_day.csv')
missing_values= missing_values_table(city_day)
missing_values.style.background_gradient(cmap='Reds')

Your selected dataframe has 16 columns.
There are 14 columns that have missing values.